<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/styles/images.css" class="rel">
<div class="row">
  <h1 class="text-center">Edit Campus</h1>
  <div class="col-md-6 offset-md-3">
    <form action="/campuses/<%=campus._id%>?_method=PUT"  method="POST" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Campus Name</label>
        <input class="form-control" type="text" name="campus[title]" id="title" value="<%= campus.title %>" required>
        <div class="invalid-feedback">
          Please enter the campus name.
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control"type="text" name="campus[location]" id="location" value="<%= campus.location %>" required>
        <div class="invalid-feedback">
          Please enter the campus location.
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control"type="text" name="campus[description]" id="description" rows="4" required><%= campus.description %></textarea>
        <div class="invalid-feedback">
          Please provide a campus description.
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Add more images</label>
        <input class="form-control" type="file" id="image" name="image" multiple>
      </div>
      <div id="formFile" class="mb-3"></div>
      <div class="mb-3 row" >
        <h5>Delete images</h5>
          <% campus.images.forEach((image, i) => { %> 
            <div class="thumb-container p-0">
              <img src="<%= image.thumbnail %>" alt="" class="thumbnail p-0" crossorigin>
              <input type="checkbox" name="deleteImages[]" value="<%= image.filename %>" id="image-<%= i %>" class="checkbox">
            </div>
          <% }) %> 
          
        <p class="text-muted">Selected images will be deleted.</p>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Update Campus</button>
        <a class="btn btn-danger" href="/campuses/<%= campus._id %>">Cancel</a>
      </div>
    </form>
  </div>
</div>